/*
@font-face {
  font-family: 'Roboto';
  src: url("#{resource['assets:fonts/roboto.ttf']}")  format('truetype');
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

.ui-layout-unit.ui-layout-pane-west{
	font-size: 120% !important;
}


.ui-toolbar.ui-widget.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	font-size: 120% !important;
}
 */

 
.ui-menuitem-text{
 	margin-left: 20px;
}
/*
.ui-button-text.ui-c{
	margin-left: 10px;
}
*/
/* layout / layoutunit  */

.ui-layout-unit{
  border: 0px !important;
  
}

.ui-menu .ui-menuitem-link{
	padding-left: 1.5em !important;
}


/* menu - MPOS  */
span.ui-menuitem-icon.ui-icon.ui-icon-signal-diag {
    background-image: url("#{resource['assets:images/smartphone_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
}
/* menu - VTM  */
span.ui-menuitem-icon.ui-icon.ui-icon-signal {
    background-image: url("#{resource['assets:images/atm_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
} 
/* menu - VTA  */
span.ui-menuitem-icon.ui-icon.ui-icon-grip-diagonal-se {
    background-image: url("#{resource['assets:images/agent_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
} 
/* menu - PORTAL  */
span.ui-menuitem-icon.ui-icon.ui-icon-squaresmall-close {
    background-image: url("#{resource['assets:images/graph_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
} 
/* menu - WALLET  */
span.ui-menuitem-icon.ui-icon.ui-icon-grip-solid-horizontal {
    background-image: url("#{resource['assets:images/wallet_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
} 
/* menu - MPOS Users  */
span.ui-menuitem-icon.ui-icon.ui-icon-person {
    background-image: url("#{resource['assets:images/mpos_user_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
}

/* menu - VTM Users  */
span.ui-menuitem-icon.ui-icon.ui-icon-tag {
    background-image: url("#{resource['assets:images/vtm_user_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
}

/* menu - Admin Users  */
span.ui-menuitem-icon.ui-icon.ui-icon-clock {
    background-image: url("#{resource['assets:images/admin_02_16.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
}

button.pe-timepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only{
	position: relative !important;
}

/* menu - Reports - Audit Trail  */
span.ui-menuitem-icon.ui-icon.ui-icon-contact {
    background-image: url("#{resource['assets:images/edit-doc_02_24.png']}") !important;
    background-position: center center !important;
    width: 24px;
    height: 24px;
}

.panelGridCenter {
    margin: 0 auto;
}

#iFrameContainer{
    overflow: hidden;
	width: 100%;
    height: 800px;
}

 /* top toolbar 
.ui-toolbar{
	height: 24px;
}
 */
/* top menu - Sign Out  
.ui-button-icon-left.ui-icon.ui-c.ui-icon-power {
    background-image: url("#{resource['assets:images/power-cord_02_24.png']}") !important;
    background-position: center center !important;
    top: 50% !important;
    width: 24px;
    height: 24px;
}
*/
/* top menu - current user  
.ui-button-icon-left.ui-icon.ui-c.ui-icon-home {
    background-image: url("#{resource['assets:images/user_02_24.png']}") !important;
    background-position: center center !important;
    top: 50% !important;
    left: 37% !important;
    width: 24px;
    height: 24px;
}
*/


.ui-picklist.permission .ui-picklist-list {
    width: 350px !important;
}

.overlayPanelGroup{
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}